<center>
    <hr />
    <p style="width: 170px;">
            <img src="" 
            width="70" height="60" alt="" style="float: left;"/>
            &copy; Kartik Mishra, 2021
    </p>
    
</center>